{% extends 'base.html.twig' %}

{% block title %}Flesh N Blood
{% endblock %}

{% block body %}

	<body class="bg-black">

		<section>
        
        <div class="flex flex-row container mx-auto mt-[5%] ml-[25%] gap-3" id="card"></div>

		<div class="flex justify-between">

		 <img class="h-[350px]" src="{{asset('image/reversecard.jpg')}}">
		 <img class="h-[350px]" src="{{asset('image/reversecard.jpg')}}">
		
		</div>

		<div class="flex flex-row container mx-auto mt-[5%] ml-[25%] container" id="cardz"></div>

        </section>

	</body>
    
{% endblock %}
