{% extends 'base.html.twig' %}

{% block title %}Flesh N Blood
{% endblock %}

{% block body %}

	<body class="bg-black">

		<section>
        
        

        </section>

		<section>
        
        

        </section>


        <footer>
        

        
        </footer>

	</body>
    
{% endblock %}
